<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Character_JQ_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,75}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,75}}</string>
                <key>sourceSize</key>
                <string>{128,71}</string>
            </dict>
            <key>Character_JQ_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,318},{85,90}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>Character_JQ_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,120}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,120}}</string>
                <key>sourceSize</key>
                <string>{126,118}</string>
            </dict>
            <key>Character_JQ_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,216},{100,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,105}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>Character_JQ_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,186},{120,105}}</string>
                <key>offset</key>
                <string>{2,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,105}}</string>
                <key>sourceSize</key>
                <string>{116,104}</string>
            </dict>
            <key>Character_JQ_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,288},{115,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,85}}</string>
                <key>sourceSize</key>
                <string>{115,83}</string>
            </dict>
            <key>Character_JQ_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,216},{70,115}}</string>
                <key>offset</key>
                <string>{0.5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,115}}</string>
                <key>sourceSize</key>
                <string>{69,111}</string>
            </dict>
            <key>paoku 00188.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,109},{120,105}}</string>
                <key>offset</key>
                <string>{-1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,105}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00189.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{120,105}}</string>
                <key>offset</key>
                <string>{-1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,105}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00190.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,338},{115,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{115,105}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00191.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,405},{110,105}}</string>
                <key>offset</key>
                <string>{3.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{110,105}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00192.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,410},{110,100}}</string>
                <key>offset</key>
                <string>{3.5,2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{110,100}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00193.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,79},{120,105}}</string>
                <key>offset</key>
                <string>{-1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,105}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00194.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{120,105}}</string>
                <key>offset</key>
                <string>{-1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,105}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00195.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{120,105}}</string>
                <key>offset</key>
                <string>{-1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,105}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00196.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{115,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{115,105}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00197.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,109},{115,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{115,105}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00198.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,293},{115,100}}</string>
                <key>offset</key>
                <string>{1,2.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{115,100}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>paoku 00199.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{115,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{115,105}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hero.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efe7f839ec484a3c54e0bad57f9c18a2:1/1$</string>
            <key>textureFileName</key>
            <string>Hero.png</string>
        </dict>
    </dict>
</plist>
